<nb-layout>

  <nb-layout-header fixed>
    App Angular Damien Vigouroux
  </nb-layout-header>
  <nb-sidebar>
    <div>
      <ul>
        <li><a [routerLink]="['home']">Home</a></li>
        <li><a [routerLink]="['service']">Service</a></li>
        <li><a [routerLink]="['contact']">Contact</a></li>
        <li><a [routerLink]="['private/users']">Users</a></li>
        <li><a [routerLink]="['private/customers']">Customers</a></li>
      </ul>
    </div>
  </nb-sidebar>
  <nb-layout-column>



    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    Voici le footer
  </nb-layout-footer>

</nb-layout>
